/* Generelles styling von Schrift etc */
html, body {margin: 0; font-family: 'Times New Roman', Times, serif; font-size: 22px;}
p{margin-top: 1px; margin-bottom: 1px;}
hr{width: 70%; height: 1.5px; background-color: black;}

/* Die Anzeige der Animation positionieren */
.cav{
    float: right;
    margin-right: 7px;
}

/* die Position des rests editieren */
#other{
    position: absolute;
    text-align: center;
    max-height: 100vh;
}
.cubeNum{width: 45px;}