html, body {margin: 0; font-family: 'Times New Roman', Times, serif; font-size: 22px;}
p{margin-top: 1px; margin-bottom: 1px;}
hr{width: 70%; height: 1.5px; background-color: black;}

.cav{
    float: right;
    margin-right: 7px;
}

#other{
    position: absolute;
    text-align: center;
}
.cubeNum{width: 45px;}