html, body {margin: 0; font-family: 'Times New Roman', Times, serif; font-size: 22px;}
p{margin-top: 1px;}

.cav{
    float: right;
    margin-right: 7px;
}

#other{
    position: absolute;
    top: 50%;
    text-align: center;
    vertical-align: middle;
}